.ext_tweet_container {
    font-weight: 800;
    color: red;
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.userName {
    font-weight: 600 !important;
    font-size: 15px ;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    text-decoration: none;
}

.userHandle {
    font: 15px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(83, 100, 113);
    padding-left: 0.2em;
    text-decoration: none;
}
.dot {
    font-size: 14px ;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(83, 100, 113);
    padding-left: 0.2em;
    padding-right: 0.2em;

}

.time {
    font-size: 14px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: rgb(83, 100, 113);
    text-decoration: none;

}

.avatarContainer {
        overflow: hidden;
        width: 48px;
        height: 48px;
        border-radius: 50%;
}

.avatarContainerExpandThread {
    overflow: hidden;
    width: 32;
    height: 32;
    border-radius: 50%;
}

    .metric {
        font-size: 13px;
        padding-left: 12px;
    }

.media {
    margin-top: 0.25em;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid;
    border-color: rgb(207, 217, 222);
}

.header-img {
    height: 256px;
    overflow: hidden;
}

.injected-link {
    text-decoration: none;
    color: black;
}

.link-body {
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    padding: 0.75em;
}

.link-domain, .link-lede {
    color: rgb(83, 100, 113);
}

.link-headline, .link-lede, .link-domain {
    display: block;
    margin-bottom: 0.2em;
}


a.userName {
    text-decoration: none;
    color: black;
}

a.userName:hover, a.time:hover {
    text-decoration: underline;
}

.socialContextIcon {
    padding-right: 0.75em;
}

.socialContext {
    font-size: 13px;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    color:rgb(83, 100, 113);
    text-decoration: none
}

.socialContextSeeMore {
    font-size: 13px ;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: rgb(29, 155, 240)
}

.socialContextSeeMore:hover, .socialContext:hover {
    text-decoration: underline;
}

.socialContextContainer {
    display: inline-block;
    padding: 0.75em;
    margin-left: 1.25em;
}

.retweetCount:hover {
    color: rgb(0, 186, 124)
}

.replyCount:hover{
    color: rgb(29, 155, 240)
}

.likeCount:hover {
    color: rgb(249, 24, 128)
}

.shareButton:hover {
    color: rgb(29, 155, 240)
}

.inline-link {
    color: rgb(29, 155, 240);
    text-decoration: none;
    z-index: 99;
}