extension/node_modules
extension/build
extension/secrets.*.js

scripts/data
scripts/*.tsv
secrets.sh

server/db/pgdata/*
server/db/logfile
server/node_modules

choosing-elites/deprecated
choosing-elites/following
choosing-elites/followers


.venv
*.zip
*.Rda

.DS_Store

config.js
